/* =======================boton animado================= */

.btn-animado{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}
.btn-animado:hover{
    background: map-get($paleta-colores , "colorBotonPrincipal" );
    box-shadow: 0 0 10px $efectoNeon, 0 0 40px $efectoNeon, 0 0 80px $efectoNeon;
    transition-delay: 1s;
 }
.btn-animado span{
    position: absolute;
    display: block;
}
#span1{
    @include span2;
    top: 0;
    left: -100%;
    background: linear-gradient(90deg, transparent,$efectoNeon);
 }
 .btn-animado:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    @include span2;
    bottom: 0;
    right: -100%;
    background: linear-gradient(270deg, transparent,$efectoNeon);
}
 .btn-animado:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    @include span1;
    top: -100%;
    right: 0;
    background: linear-gradient(180deg,transparent,$efectoNeon);
}
.btn-animado:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    @include span1;
    bottom: -100%;
    left: 0;
    background: linear-gradient(360deg,transparent,$efectoNeon);
}
.btn-animado:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

