img{
    max-width: 100%;
}
.galeria {
  background-color: $colorPrincipal;
  padding: 80px 0;

}
.galeria img{
    background-color: #ffffff;
    padding: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgb(255, 174, 0);
    cursor: pointer;
  }
