@media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}